.project{
    display:flex;
    height:90vh;
    /* margin-bottom: 8rem; */
    margin-top: 1rem;
    /* margin-bottom: 13rem; */
}
.awesome{
    display: flex;
    flex-direction: column;
    /* position:relative;
    margin-bottom: 3rem; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
}


.awesome > :nth-child(1) {
color: darkorchid;
font-size:2.5rem;
font-weight: bold;
text-align: center;

} 

.s-button{
    width:8rem;
    height:2rem;
    margin-top: 1rem;
    margin-inline: auto;
    display: flex;
    text-align: center;
}

.cv {
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: 0.5rem;
    margin-inline: auto;
}
.cards{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: 2rem;
}

.cards > * {
    margin-right: 2rem;
}


.technologies {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    text-align: center;
}